# Dependencies
node_modules/
!libs/
.DS_Store

# Build output
dist/
dist-ssr/

# Local env files
*.local
.env

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 